.signup-card {
    width: 868px;
    height: 575px;
    margin: 10px auto 0;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 4px;
    position: relative;
    bottom: 40px;
    background: #0d101e;
    transition: 0.3s ease;
    overflow: hidden;
    border: 4px solid rgba(0,151,251,0.25);
}

.signup-card:hover {
    border: 4px solid #73c4fa;
    box-shadow: 0px 4px 20px rgba(0,151,251,0.25);
}

.signup-image {
    width: 50%;
    height: 100%;
    float: left;
    background: url('https://images.unsplash.com/photo-1606490102015-697a49636e32?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-size: contain;
    background-repeat: no-repeat;
}

.signup-text {
    color: #fafafa;
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 20px;
    margin-right: 10px;
}

.alt-text {
    color: gray;
    margin-top: 10px;
    letter-spacing: 1.2px;
}

.alt-text span {
    cursor: pointer;
    background: #0d101e;
    color: #73c4fa;
}

.form {
    background: #0d101e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.name-container {
    display: flex;
    background: #0d101e;
}

.firstname-container,
.lastname-container,
.email-container,
.password-container {
    color: #fafafa;
    background: #0d101e;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 15px;
}

.firstname-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.lastname-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.email-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.password-container p {
    font-weight: bold;
    margin-bottom: 10px;
}

.email-input,
.password-input,
.firstname-input,
.lastname-input
{
    outline: none;
    border: none;
    width: 392px;
    font-size: 1.3rem;
    border-radius: 4px;
    padding: 7px 15px;
    background: #202330;
    color: #fafafa;
    transition: 0.2s ease;
    border: 2px solid rgba(0,151,251,0.25);
}

.firstname-input,
.lastname-input {
    width: 180px;
}

.button-container {
    background: #0d101e;
}

.button-container button {
    color: #fafafa;
    background: rgba(0,151,251,0.25);
    outline: none;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 6px;
    width: 392px;
    letter-spacing: 1.2px;
    font-weight: bold;
    transition: 0.3s ease;
    margin-bottom: 16px;
}

.button-container button:active {
    transform: scale(0.96);
    background: #73c4fa;
}

.btn2 button:active{
    background: #0d101e;
    border: 2px solid #73c4fa;
}

.btn2 button {
    background: #0d101e;
    border: 2px solid rgba(0,151,251,0.25);
}

.btn2 button img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    position: relative;
    top: 5px;
    background: #0d101e;
}

.email-input:focus{
    border: 2px solid #73c4fa;
    box-shadow: 0px 4px 20px rgba(0,151,251,0.25);
}

.password-input:focus{
    border: 2px solid #73c4fa;
    box-shadow: 0px 4px 20px rgba(0,151,251,0.25);
}

.firstname-input:focus {
    border: 2px solid #73c4fa;
    box-shadow: 0px 4px 20px rgba(0,151,251,0.25);
}

.lastname-input:focus {
    border: 2px solid #73c4fa;
    box-shadow: 0px 4px 20px rgba(0,151,251,0.25);
}