@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #171d2d;
}

/* scrollbar-styles */

* {
    scrollbar-width: thin;
    scollbar-color: rgba(155, 155, 155, 0.5) transparent;
    scrollbar-shadow-color: #254161;
  }
  
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: transparent;
    transition: 0.2s ease;
    background-color: rgba(155, 155, 155, 0.5);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #3485e4;
  }
  